.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-checkbox {
  width: 16px;
  height: 16px;
  appearance: none;
  border: 1px solid black;

  &:checked {
    background-color: transparent;
  }

  &:checked::after {
    content: '✓';
    display: block;
    text-align: center;
    color: black;
  }
}
